<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/boilerplate.css">    
    <link rel="stylesheet" href="/css/style.css">
    <title>Cidar - Build Radiator</title>
  </head>
  <body>
    <div id="container">
    	<% ["QEN :: build :: backend", "QEN :: build :: client", "QEN :: integration-test :: backend-integration", "QEN :: integration-test :: backend-functional", "QEN :: deploy :: backend", "QEN :: deploy :: client", "QEN :: smoke-test :: backend", "QEN :: functional-test :: both"].each do |name| %>	
          <li class="upstream">
            <div class="<%= status_of(name) %>">
            <%= labelFor(name) %>
            </div>      
            <div class="details"><%= @status.buildLabel %></div>                            
  	        <div class="commit_message"><%= commit_message(name) %></div>              
          </li>
        <% end %>
    <div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>    
    <script defer src="js/global.js"></script>
  </body>
</html>
